{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Travel Option</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'booking/css/global.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Add a New Travel Option</h1>

      <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Add Travel Option</button>
      </form>

      <p>
        <a href="{% url 'list_available_items' %}">Back to Available Items</a>
      </p>
    </div>
  </body>
</html>
