{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Available Travel Options</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'booking/css/global.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Available Travel Options</h1>

      {% if available_travel_options %}
      <ul>
        {% for travel_option in available_travel_options %}
        <li>
          <strong>{{ travel_option.travel_type }}</strong>
          from <strong>{{ travel_option.source }}</strong> to
          <strong>{{ travel_option.destination }}</strong><br />
          Date & Time: {{ travel_option.date_time }}<br />
          Price: ${{ travel_option.price }}<br />
          Available Seats: {{ travel_option.available_seats }}<br />
          <a href="{% url 'book_travel' travel_option.id %}">Book Now</a>
        </li>
        <hr />
        {% endfor %}
      </ul>
      {% else %}
      <p>No available travel options at the moment.</p>
      {% endif %}
    </div>
  </body>
</html>
